

body{
    margin : 0;
    overflow: hidden;
    touch-action: none;
}

.w-100{
    width : 100%;
}

.MainJoy{
    position: relative;
    
    
    
}

.MinorJoy{
    top: 40%;
    left: 0;
    position: absolute;
    width: 50%;
    height: 60%;
    

    


}

.MinorJoy2{
    top: 60%;
    left: 50%;
    position: absolute;
    width: 50%;
    height: 40%;
    
    

}


.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}