<div class = "col-md-7 MenuBase">
   <div class = "row MenuOptions">
        <div class = "col-md-auto">
            Option 1
        </div>
   </div>
   <div class = "row MenuOptions">
        <div class = "col-md-auto">
            Option 2
        </div>
   </div>
   <div class = "row MenuOptions">
        <div class = "col-md-auto">
            Option 3
        </div>
   </div>
   <div class = "row MenuOptions">
        <div class = "col-md-auto">
            Option 4
        </div>
   </div>
   <div class = "row MenuOptions">
        <div class = "col-md-auto">
            Option 5
        </div>
   </div>
   <div class = "row MenuOptions">
        <div class = "col-md-auto">
            Option 6
        </div>
   </div>
</div>